<h1>Admin</h1>

<h3>Add Product</h3>

<form action="/" method="post">
  <label for="product">Product</label>
  <input name="product" type="text" placeholder="Product">

  <label for="price">Price</label>
  <input name="price" type="number" placeholder="Price">
  <button type="submit" class="btn">
    Add Product
  </button>
</form>

<% @products.each do |pr| %>
  <div class="row">
    <div class="col">
      <a href="/products/<%= pr.id %>"><p>Name: <%= pr.name %></p></a>
      <p>$<%= pr.price %></p>
      <form action="/product_delete/<%=pr.id%>" method="post">
        <input name="_method" type="hidden" value="delete">
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>
  <br>
<% end %>

<a href="/">Back to store</a>
