<h1>Admin</h1>

<h3>Add Product</h3>

<form action="/" method="post">
  <label for="product">Product</label>
  <input name="product" type="text" placeholder="Product">

  <label for="price">Price</label>
  <input name="price" type="number" placeholder="Price">
  <button type="submit" class="btn">
    Add Product
  </button>
</form>
